body {
	background-color:#ff5983
}

h1 {
	text-align: center;
	font-size: 48px;
	font-family:Gerogia;
	color: white;
}

p {
	text-align: center;
	font-size: 30px;
	font-family: Georgia;
	color: white;
}

img {
	display: block;
	margin: auto;
}
