body {
	background-color:#f60744
}

h1 {
	text-align: center;
	font-size: 24px;
	font-family:Gerogia;
	color: white;
}

p {
	text-align: center;
	font-size: 18px;
	font-family: Georgia;
	color: white;
}

img {
	display: block;
	margin: auto;
}
