
dy {
	margin-left:2%;
	background-color: #3A405A
}

h1 {
	
	font-size: 36px;
	font-family:verdana;
	color:#EBCFB2;
}

h2 {
	font-size: 18px;
	font-family:verdana;
	color:#EBCFB2;
	text-decoration:underline;

}

h3 {
	font-size: 14px;
	font-family:verdana;
	color:#EBCFB2;

}

ul {
	font-size: 12px;
	font-family:verdana;
	color:#EBCFB2;

}
